<div class="container">
    <h1>Eat-Da-Burger</h1>

    
            <div class="col-md-6 col-left">
                <table>
                    {{#each burgers}}
                        {{#unless devoured}}
                        <li class="eatBurger"><span>{{burger_name}}</span><button
                            class="devoured" data-burgerName="{{this.id}}">Devour</button></li>
                        {{/unless}}
                    {{/each}}
                </table>
            </div>

            <div class="col-md-6 col-right">
                {{#each burgers}}
                    {{#if devoured}}
                        <li class="devoured"><span> {{burger_name}} </span></li></div>
                    {{/if}}
                {{/each}}        
            </div>          

            <form class="form">
                <h4>Create a New Burger</h4>
                <div class="burger-form">
                    <textarea id="name" name="burger-name" rows="5" cols="40" placeholder="Enter a burger you want to eat. Click the Submit button to add."></textarea>
                </div>
                <button type="submit">Add Burger</button>
            </form>   
        
</div>